# URL Google Apps Script Web App untuk menerima RSVP.
# Kosongkan saat development lokal jika belum tersedia.
VITE_RSVP_ENDPOINT=https://script.google.com/macros/s/AKfycbzWTjUffeIpZSJV_bZVt1LqI5p6DvzjmPJNIalrXV8e3k-jv7iaRfj2MticFb_cg6-f/exec
